/* <script src="js/4.js"></script>  */

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}


/* 触发弹窗图片的样式 */
#myModal {
    background: rgba(0, 0, 0, 0.8);
    /* 元素置前 */
    /* margin-top: -110%; */
    margin: auto;
    align-items: center;
    width: 390px;
}

/* 弹窗的位置和背景颜色 */
.modal {
    display: none;
    position: fixed;
    top: 0px;
    /* 绝对定位 */
    z-index: 1;
    padding-top: 114px;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* 溢出出现滚动条 */

}

/* 弹窗图片的大小 */
.content {
    margin: auto;
    display: block;
    min-height: 500px;
    max-height: 600px;
    margin-top: -40px;
}

.span_x {
    position: absolute;
    top: 27px;
    right: 35px;
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
}

body{
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 100%;
}
.iframe_appku{
    background: #fff;
    height: 100%;
    width: 390px;
}

.main_width {
    width: 390px;
    margin: 0 auto;
}

/* 第一层导航 */
* {
    margin: 0px;
    padding: 0px;

}

/* 导航点击下来的页面 */
.daohang-1-btn1 {
    width: 106px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    font-size: 17px;
    color: rgb(235, 235, 235);
    border-color: transparent;
    font-weight: 500;
}

.daohang-1-btn1:active {
    width: 108px;
    height: 32px;
    border-radius: 10px;
    background: linear-gradient(to left, #57ec99, #1371ef, #fc1cd5) no-repeat;
    font-size: 19px;
    color: rgb(235, 235, 235);
    border-color: transparent;
}


.daohang-1-btn-jinitaimei {
    width: 200px;
    border-radius: 5px;
    background: #1e90ff;
    margin-top: 8px;
    border-color: rgb(2, 192, 255);
    font-size: 18px;
    color: white;
    outline: none;
    /*点击后没边框*/
}

.daohang-1-btn-jinitaimei:active {
    font-size: 19px;
}


.daohang-1-btn2:active {
    font-size: 20px;
}

.daohang-1-btn2 {
    height: 31px;
    width: 120px;
    line-height: 29px;
    border-radius: 5px;
    background: #1E90FF;
    border-color: rgb(2, 192, 255);
    font-size: 18px;
    color: white;
    outline: none;
    /*点击后没边框*/
}

.topIcon {
    width: 214px;
    height: 51px;
}

.navBtn {
    width: 30px;
    height: 40px;
    /* padding-left: 10px; */
    /* margin-top: -5px; */
    background-color: aliceblue;
    background: url(http://pic.gamemhb.com/lunbo/nav.png);
    background-size: 40px;
    display: inline-block;
    /* border: 5px solid #7c7878; */
    margin-right: 15px;
    border-radius: 6px;
    /* position: absolute; */
}


.top_div {
    text-align: center;
    background-color: #ffffff;
    font-weight: bold;
    z-index: 1;
    /* border-radius: 0 0 8px 8px; */
    top: 0px;
    font-size: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 390px;
    height: 98px;
}


.daohang1 {
    top: 60px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 390px;
    font-size: 18px;
    color: black;
}

.daohang1_a {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    border-radius: 3px;
    width: 67px;
    height: 27px;
    color: white;
}
.daohang1_a_appku {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    border-radius: 3px;
    width: 140px;
    height: 27px;
    color: white;
}

.daohang1_a_more {
    color: black;
}

.daohang2 {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 98px;
    color: black;
    padding: auto;
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px #999;
    width: 390px;
}
.daohang2_yinyuehe {
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 98px;
    padding-top: 0px;
    color: black;
    padding: auto;
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px #999;
    width: 390px;
}

.hengtiao_yinyuehe_1 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 4px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_yinyuehe_2 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 53px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_yinyuehe_3 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 102px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_yinyuehe_4 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 151px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_yinyuehe_5 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 199px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_yinyuehe_6 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 247px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_yinyuehe_7 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 297px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_yinyuehe_8 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 346px;
    position: fixed;
    top: 53px;
    width: 40px;
    border-radius: 50px;
}
.hengtiao_1 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 18px;
    position: fixed;
    top: 55px;
    width: 30px;
    border-radius: 50px;
}
.hengtiao_2 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 82px;
    position: fixed;
    top: 55px;
    width: 30px;
    border-radius: 50px;
}
.hengtiao_3 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 147px;
    position: fixed;
    top: 55px;
    width: 30px;
    border-radius: 50px;
}
.hengtiao_4 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 212px;
    position: fixed;
    top: 55px;
    width: 30px;
    border-radius: 50px;
}
.hengtiao_5 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 277px;
    position: fixed;
    top: 55px;
    width: 30px;
    border-radius: 50px;
}
.hengtiao_6 {
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    height: 4px;
    margin-top: 63px;
    margin-left: 342px;
    position: fixed;
    top: 55px;
    width: 30px;
    border-radius: 50px;
}

.daohang2_yinyuehe_a {
    border-radius: 3px;
    width: 55px;
    height: 22px;
    color: black;
    text-align: center;
}
.daohang2_a {
    border-radius: 3px;
    width: 55px;
    height: 24px;
    color: black;
    text-align: center;
}

.daohang2_a_more {
    background: rgb(255, 255, 255);
    border-radius: 3px;
    width: 55px;
    height: 22px;
    color: rgb(0, 0, 0);
}



.download_div {
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
    /* box-shadow: 0 0 5px 1px #999; */
    width: 390px;
}

.download_div_android {
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
    /* box-shadow: 0 0 5px 1px #999; */
    width: 390px;
}


.download_a {
    background: linear-gradient(to top, #57ec99, #1371ef, #fc1cd5) no-repeat;
    border-radius: 3px;
    width: 80px;
    height: 24px;
    color: rgb(235, 235, 235);
    text-align: center;
    font-size: 15px;
}

.download_a:active {
    background: linear-gradient(to bottom, #57ec99, #1371ef, #fc1cd5) no-repeat;
    border-radius: 3px;
    width: 85px;
    height: 26px;
    color: rgb(235, 235, 235);
    text-align: center;
    font-size: 15px;
}

.download_a_android {
    background: linear-gradient(to right, #09f524, #289094, #09f524) no-repeat;
    border-radius: 3px;
    width: 189px;
    height: 30px;
    color: rgb(235, 235, 235);
    text-align: center;
    font-size: 20px;
}

.download_a_android:active {
    background: linear-gradient(to right, #09f524, #289094, #09f524) no-repeat;
    border-radius: 3px;
    width: 200px;
    height: 33px;
    color: rgb(235, 235, 235);
    text-align: center;
    font-size: 23px;
}

.download_text {
    color: rgb(235, 235, 235);
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}

.topName {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.topName2 {
    margin-left: 105px;
    margin-top: 5px;
    font-size: 20px;
    color: rgb(106, 104, 104);
    font-weight: bold;
}



.navBtn:active {
    width: 30px;
    height: 40px;
    background-size: 41px;
}

.topListNav {

    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    display: inline-block;
    z-index: 1;
    position: fixed;
    width: 390px;
    height: 0px;
    overflow: hidden;
    text-align: center;
    border-radius: 0 0 10px 10px;
    margin-top: 120px;
}

.neirong {
    margin-top: 122px;
}

.alink {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 3px;
}


/* 导航按钮1 */
.menu1-img {
    position: absolute;
    margin-left: -180px;
    border-radius: 17%;
    width: 85px;
    height: 85px;
    margin-top: 7px;
}

.menu1-h1 {
    margin-left: -18px;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.menu1-i {
    display: inline-block;
    margin-left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: url(http://pic.gamemhb.com/lunbo/dagou.jpg);
    background-size: cover;
}

.menu1-leixing {
    text-align: center;
    margin-top: 5px;
}

.menu1-leixing-1-1 {
    margin-top: 5px;
    margin-left: 55px;
    font-size: 12px;
    color: #e1e1e1;
}

.menu1-leixing-1-1-img {
    margin-left: 98px;
    height: 10px;
}

.menu1-leixing-2 {
    text-align: center;
}

.menu1-leixing-2-1 {
    font-size: 12px;
    margin-left: 91px;
    color: #e1e1e1;
}

.menu1-leixing-2-2 {
    font-size: 12px;
    margin-left: 95px;
    color: #e1e1e1;
}

.menu1-leixing-3 {
    text-align: center;
}

.menu1-leixing-3-1 {
    font-size: 12px;
    margin-left: 78px;
    color: #e1e1e1;
}

.menu1-leixing-3-2 {
    font-size: 12px;
    margin-left: 30px;
    color: #e1e1e1;
}



/* 导航按钮2 */
.menu2-img {
    position: absolute;
    margin-left: -180px;
    border-radius: 17%;
    width: 85px;
    height: 85px;
    margin-top: 7px;
}

.menu2-leixing {
    text-align: center;
}

.menu2-leixing-1-1 {
    margin-top: 5px;
    margin-left: 80px;
    font-size: 12px;
    color: #999;
}

.menu2-leixing-1-1-img {
    margin-left: 130px;
    height: 10px;
}

.menu2-leixing-2 {
    text-align: center;
}

.menu2-leixing-2-1 {
    font-size: 12px;
    margin-left: 106px;
    color: #999;
}

.menu2-leixing-2-2 {
    font-size: 12px;
    margin-left: 125px;
    color: #999;
}

.menu2-leixing-3 {
    text-align: center;
}

.menu2-leixing-3-1 {
    font-size: 12px;
    margin-left: 100px;
    color: #999;
}

.menu2-leixing-3-2 {
    font-size: 12px;
    margin-left: 60px;
    color: #999;
}

.menu2-h1 {
    margin-left: 2px;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.menu2-i {
    display: inline-block;
    margin-left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: url(http://pic.gamemhb.com/lunbo/dagou.jpg);
    background-size: cover;
}



.xiazai {
    color: white;
    text-align: center;
}

.xiazai:active {
    font-size: 22px;
}

/* 下载按钮 */
.download {
    text-align: center;
    margin-top: -12px;
    top: 12px;
    font-size: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 390px;
}

/* 下载按钮 */
.yulan_choujiang_div {
    text-align: center;
    margin-top: 6px;
}

.download-1 {
    margin-left: 5px;
    width: 150px;
    border: 0px solid;
    border-radius: 5px;
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    /*点击后没边框*/
    height: 34px;
}

.download-2 {
    margin-left: 45px;
    width: 150px;
    border: 0px solid;
    border-radius: 5px;
    background: linear-gradient(to right, #57ec99, #1371ef, #fc1cd5) no-repeat;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    /*点击后没边框*/
    height: 34px;
}

/* 球球使用教程div */
.shiyongjiaocheng {
    color: #999;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 预览按钮 */
.yulan-div {
    color: #999;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.yulan-btn {
    width: 170px;
    border: 1px solid;
    border-radius: 5px;
    background: rgb(243, 80, 205);
    color: #ff1cae;
    font-size: 20px;
    outline: none;
    /*点击后没边框*/
    height: 34px;
}

.yulan-btn1 {
    margin-left: 5px;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    background: rgb(243, 80, 205);
    color: #ff1cae;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    /*点击后没边框*/
    height: 34px;
}

.lingqufuli-btn1 {
    margin-left: 45px;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    background: rgb(243, 80, 205);
    color: #ff1cae;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    height: 34px;
}


/* 应用介绍 */
.jieshao-p {
    color: white;
    padding-top: 16.6px;
}

.jieshao-h2 {
    color: white;
    margin-left: 9px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;

}

.jieshao_1_1 {
    color: rgb(255, 0, 212)
}

.jieshao_1_2 {
    color: rgb(34, 255, 0);

}


/* 轮播图 */
.a_cent .img-list {
    white-space: nowrap;
    height: 190px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 6px 0 0 0;
}


.a_cent .full {
    height: 190px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}

.a_cent .full:first-child {
    margin-left: 6px;
}

/* .a_cent .full:last-child {
    margin-right: 6px;
} */



/* default 默认图片 */
.default-img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -180px;
    border-radius: 100%;
}


/* default边框 */
.default-border {
    text-align: center;
    background: black;
}

/* default文字 */
.default-text1 {
    color: limegreen;
    font-size: 20px;
    margin-left: -70px;
}


/* default2文字 */
.default-text1-1 {
    color: green;
    font-size: 12px;
    margin-left: -70px;
    margin-top: -10px;
}

/* tex1t图片 */
.menu-text1-img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -180px;
    border-radius: 100%;
}

/* tex1边框 */
.menu1-text1-border {
    text-align: center;
}

/* text1文字 */
.menu1-text1 {
    color: limegreen;
    font-size: 20px;
    margin-left: -90px;
}

/* text1-1文字 */
.menu1-text1-1 {
    color: limegreen;
    font-size: 12px;
    margin-left: -70px;
    margin-top: -10px;
}

/* 按钮一a标签 */
.text1-a {
    position: absolute;
    margin-left: 60px;
    margin-top: -10px;
}

.btn1 {
    width: 120px;
    line-height: 35px;
    border-radius: 100px;
    background: #1E90FF;
    position: absolute;
    margin-top: -50px;
    text-align: center;
    margin-left: 60px;
    border-color: black;
    outline: none;
    /*点击后没边框*/
}

/* 按钮一触停效果 */
.btn1:hover {
    background: limegreen
}

/* 按钮一点击效果 */
.btn1-text:active {
    background: limegreen;
    font-size: 20px;
}

.btn1-text {
    font-size: 17px;
    color: white;
    text-align: center;
    line-height: 10px;
}

.btn-video-border {
    text-align: center;
}

.btn-video {
    position: absolute;
    margin-left: -90px;
    margin-top: 5px;
    border-color: black;
    width: 180px;
    line-height: 40px;
    font-size: 17px;
    color: #ffffff;
    border-radius: 100px;
    background: #ff1cae;
    text-align: center;
    outline: none;
    /*点击后没边框*/
}

/* 按钮一触停效果 */
.btn-video:hover {
    background: #1E90FF
}

/* 按钮一点击效果 */
.btn-video-text:active {
    background: #1E90FF;
    font-size: 20px;
}

.btn-video-text {
    font-size: 17px;
    color: white;
    text-align: center;
    line-height: 10px;
}

/* text2图片 */
.menu-text2-img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 10px;
    margin-left: -180px;
    border-radius: 100%;
}

/* tex2边框 */
.menu1-text2-border2 {
    text-align: center;
}

/* text2文字 */
.menu1-text2 {
    color: limegreen;
    font-size: 20px;
    margin-left: -70px;
    padding-top: 10px;
}

/* text2-1文字 */
.menu1-text2-1 {
    color: green;
    font-size: 12px;
    margin-left: -70px;
    margin-top: -10px;
}


.miaoshu {
    margin-top: 20px;
    width: 100%;
}

.miaoshu-text {
    color: limegreen;
    font-size: 15px;
    text-align: center;
}

.bottom-border {
    text-align: center;
}

.bottom1 {
    width: 140px;
    height: 40px;
    text-align: center;
    background: #ff770f;
    position: absolute;
    margin-left: -180px;
    margin-top: -10px;
    border-color: black;
    outline: none;
    /*点击后没边框*/
    border-radius: 5px;
}

/* 按钮一触停效果 */
.bottom1:hover {
    background: #1E90FF
}

/* 按钮一点击效果 */
.bottom1-text:active {
    background: #1E90FF;
    font-size: 20px;
}

.bottom1-text {
    font-size: 17px;
    color: black;
    text-align: center;
    line-height: 10px;
}

.bottom2 {
    width: 140px;
    height: 40px;
    text-align: center;
    background: #ff770f;
    position: absolute;
    margin-left: 39px;
    margin-top: -10px;
    border-color: black;
    outline: none;
    /*点击后没边框*/
    border-radius: 5px;
}

/* 按钮一触停效果 */
.bottom2:hover {
    background: #1E90FF
}

/* 按钮一点击效果 */
.bottom2-text:active {
    background: #1E90FF;
    font-size: 20px;
}

.bottom2-text {
    font-size: 17px;
    color: black;
    text-align: center;
    line-height: 10px;
}