.buzhou_tit {
    width: 700px;
    margin: 1px auto;
    overflow: hidden;
    }
    .centt_img {
                width: 340px;
                margin-left: 5px;
                margin-top: 5px;
                float: left;
                position: relative;
            }
            
            .centt_img image {
                width: 340px;
            }
            
            .rig_btn {
                width: 100px;
                height: 26px;
                background: #337ab7;
                border-radius: 5px;
                color: #FFFFFF;
                font-size: 16px;
                text-align: center;
                line-height: 27px;
                margin-left: 5px;
                display: block;
            }
            
            .buz_centimg {
                overflow: hidden;
                display: block;
            }
    
        .dakai_lianjie {
            color:white;
            text-align: center;
        }
        .dakai_lianjie:active{
        font-size: 22px;
        }