* {
    margin: 0px;
    padding: 0px;
  }

  #main {
    width: 100%;
    min-width: 350px;
    /* max-width: 600px; */
    height: 100%;
    display: flex;
    /* margin: auto; */

  }

  /*
      弹出框
      */
  #img {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 1000px;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    padding-top: 15vw;
    position: fixed;
    z-index: 1;
    text-align: center;
    margin-top: -115px;
  }

  /* 小图预览样式 */
  .imagesView {
    border-radius: 50%;
  }

  .imgopen {
    width: 80%;
    /* height: 50%; */
    border-radius: 50%;
  }

  /*按钮样式*/
  #imgShow {
    width: 95px;
    height: 30px;
    border: 2px solid limegreen;
    color: limegreen;
    background: #000;
    font-weight: bold;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    border-radius: 16vh;
    outline: none;
    /*点击后没边框*/

  }

  #imgShow:active {
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    z-index: 11;
  }

  #preview {
    /* width: 10em; */
    /* height: 10em; */
    /* background-color: yellow; */
    display: inline-block;
  }

  #imgCon {
    width: 8.0em;
    text-align: center;
    margin-top: 2vh;
    /* position: relative;
    left: 5px; */
  }

  .container {
    /* background-color: red; */
    max-width: 1000px;
    margin: auto;
  }

  #btnAll {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  span {
    position: absolute;
    top: 1%;
    right: 30px;
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
  }

  h1 {
    width: 100%;
    color: limegreen;
    text-align: center;
    font-size: 22px;

  }


  .xiazai {
    color: white;
    text-align: center;
  }

  .xiazai:active {
    font-size: 22px;
  }

  /* 下载按钮 */
  .download {
    text-align: center;
  }

  .download-1 {
    margin-left: 5px;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    background: limegreen;
    color: green;
    font-size: 20px;
    outline: none;
    /*点击后没边框*/
    height: 34px;
  }

  .download-2 {
    margin-left: 60px;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    background: limegreen;
    color: green;
    font-size: 20px;
    outline: none;
    /*点击后没边框*/
    height: 34px;
  }

  body {
    background: black;
  }

  /* 导航栏 */
  .containar-nva {
    width: 100%;
    line-height: 10px;
    text-align: center;
  }

  /* 菜单栏 */
  .nav {
    display: inline-block;
    list-style: none;
    margin: 0 0;
  }

  .nav-item {
    float: left;

  }

  .nav-link {
    display: block;
    padding: 1rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    border-radius: 5px;
  }

  .nav-link {
    font-size: 19px;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd
  }

  .nav-fill,
  .nav-item,
  .nav-fill>.nav-link {
    text-align: center
  }

  .tab-content>.tab-pane {
    display: none
  }

  .tab-content>.active {
    display: block
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem
  }

  /* 预览css */

  .btn1 {
    background: black;
    width: 120px;
    border-radius: 100px;
    border-color: limegreen;
    border-width: 3px;
    line-height: 8px;
    margin-top: 10px;
    outline: none;
  }

  .btn2 {
    background: black;
    width: 120px;
    border-radius: 100px;
    border-color: limegreen;
    border-width: 3px;
    line-height: 8px;
    margin-top: 10px;
    margin-left: 85px;
    outline: none;
  }

  .btn_text {
    font-size: 15px;
    color: lime;
  }

  .btn_text:active {
    font-size: 17px;
  }

  .img1 {
    width: 170px;
    height: 150px;
  }

  .img2 {
    width: 170px;
    height: 150px;
  }
      

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px
}

.pagination>li {
  display: inline
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd
}
.pagination-lg>li>a,
.pagination-lg>li>span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333
}



/* 三个无用js，可能是以前得轮播图  */
/* <script src="js/2.js"></script> */
/* <script src="js/3.js"></script> */
/* <script src="js/4.js"></script>  */

/* 第一层导航 */
* {
  margin: 0px;
}

h6 {
  color: white;
  text-align: center;
  margin-top: 10px;
}
/* 导航点击下来的页面 */
.daohang-1-btn1 {
  width: 120px;
  border-radius: 5px;
  background: #1e90ff;
  margin-top: 8px;
  border-color: rgb(2, 192, 255);
  font-size: 18px;
  color: white;
  outline: none;
  /*点击后没边框*/
}

.daohang-1-btn1:active {
  font-size: 20px;
}

.daohang-1-btn2:active {
  font-size: 20px;
}

.daohang-1-btn2 {
  height: 31px;
  width: 120px;
  line-height: 29px;
  border-radius: 5px;
  background: #1e90ff;
  border-color: rgb(2, 192, 255);
  font-size: 18px;
  color: white;
  outline: none;
  /*点击后没边框*/
}

#topNav {
  width: 100%;
  height: 100%;
  /* background:lightpink;  */
  /* min-width: 500px; */
  z-index: 3;
  /* min-width: 400px;
max-width: 800px; */
}

.top_flag {
  text-align: center;
  width: 100%;
  height: 5vh;
  background-color: #f8f8f8;
  font-size: 3vh;
  font-weight: bold;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
  border-radius: 0 0 8px 8px;
  padding-left: 1vh;
  position: absolute;
}

/* .topName {
margin-left: 15vh;
} */

.navBtn {
  width: 4vh;
  height: 4vh;
  background-color: aliceblue;
  display: inline-block;
  background: url(https://pic1.imgdb.cn/item/6368b7187f7ca61fd14ead73.png);
  background-size: 5vh;
  display: inline-block;
  /* border: 5px solid #7c7878; */
  background-position: center;
  margin-right: 2vh;
  border-radius: 6px;
}

.navBtn:active {
  width: 4.1vh;
  height: 4.1vh;
  background-size: 5.1vh;
}

.topListNav {
  /* background-color: #f8f8f8; */
  background-color: white;
  opacity: 0.9;
  font-size: 3vh;
  /* width: 100px; */
  display: inline-block;
  z-index: -1;
  width: 100%;
  height: 0px;
  /* padding-top: 50px; */
  overflow: hidden;
  /* min-width: 500px; */
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin-top: -0.5vh;
}

/* ul { */
/* list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   background-color: aqua;
   width: 100%; */

/* } */

.alink {
  display: inline-block;
  margin-top: 1vh;
  text-decoration: none;
  color: black;
  border-radius: 3px;
}

/* .alinkActive {
    background-color: blue;
    border-radius: 5px;
    color: #f8f8f8;
} */

/* 第二层导航 */

/* 导航栏 */
.containar-nva {
  width: 100%;
  line-height: 10px;
  text-align: center;
}

/* 菜单栏 */
.nav {
  display: inline-block;
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  padding: 1rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  border-radius: 5px;
}

.nav-link {
  font-size: 19px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0d6efd;
}

.nav-fill,
.nav-item,
.nav-fill > .nav-link {
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* 导航按钮1 */
.menu1-img {
  position: absolute;
  margin-left: -180px;
  border-radius: 17%;
  width: 85px;
  height: 85px;
  margin-top: 7px;
}

.menu1-h1 {
  margin-left: -18px;
  color: white;
  font-size: 20px;
  margin-top: 5px;
}

.menu1-i {
  display: inline-block;
  margin-left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: url(https://pic1.imgdb.cn/item/63613daa973c4a6ae1df6eb1.jpg);
  background-size: cover;
}

.menu1-leixing {
  text-align: center;
  margin-top: 5px;
}

.menu1-leixing-1-1 {
  margin-top: 5px;
  margin-left: 80px;
  font-size: 12px;
  color: #999;
}

.menu1-leixing-1-1-img {
  margin-left: 130px;
  height: 10px;
}

.menu1-leixing-2 {
  text-align: center;
}

.menu1-leixing-2-1 {
  font-size: 12px;
  margin-left: 106px;
  color: #999;
}

.menu1-leixing-2-2 {
  font-size: 12px;
  margin-left: 125px;
  color: #999;
}

.menu1-leixing-3 {
  text-align: center;
}

.menu1-leixing-3-1 {
  font-size: 12px;
  margin-left: 100px;
  color: #999;
}

.menu1-leixing-3-2 {
  font-size: 12px;
  margin-left: 60px;
  color: #999;
}

/* 导航按钮2 */
.menu2-img {
  position: absolute;
  margin-left: -180px;
  border-radius: 17%;
  width: 85px;
  height: 85px;
  margin-top: 7px;
}

.menu2-leixing {
  text-align: center;
}

.menu2-leixing-1-1 {
  margin-top: 5px;
  margin-left: 80px;
  font-size: 12px;
  color: #999;
}

.menu2-leixing-1-1-img {
  margin-left: 130px;
  height: 10px;
}

.menu2-leixing-2 {
  text-align: center;
}

.menu2-leixing-2-1 {
  font-size: 12px;
  margin-left: 106px;
  color: #999;
}

.menu2-leixing-2-2 {
  font-size: 12px;
  margin-left: 125px;
  color: #999;
}

.menu2-leixing-3 {
  text-align: center;
}

.menu2-leixing-3-1 {
  font-size: 12px;
  margin-left: 100px;
  color: #999;
}

.menu2-leixing-3-2 {
  font-size: 12px;
  margin-left: 60px;
  color: #999;
}

.menu2-h1 {
  margin-left: 2px;
  color: white;
  font-size: 20px;
  margin-top: 5px;
}

.menu2-i {
  display: inline-block;
  margin-left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: url(https://pic1.imgdb.cn/item/63613daa973c4a6ae1df6eb1.jpg);
  background-size: cover;
}

.xiazai {
  color: white;
  text-align: center;
}

.xiazai:active {
  font-size: 22px;
}

/* 下载按钮 */
.download {
  text-align: center;
}

.download-1 {
  margin-left: 5px;
  width: 150px;
  border: 1px solid;
  border-radius: 5px;
  background: limegreen;
  color: green;
  font-size: 20px;
  outline: none;
  /*点击后没边框*/
  height: 34px;
}

.download-2 {
  margin-left: 60px;
  width: 150px;
  border: 1px solid;
  border-radius: 5px;
  background: limegreen;
  color: green;
  font-size: 20px;
  outline: none;
  /*点击后没边框*/
  height: 34px;
}

/* 球球使用教程div */
.shiyongjiaocheng {
  color: #999;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 预览按钮 */
.yulan-div {
  color: #999;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.yulan-btn {
  width: 170px;
  border: 1px solid;
  border-radius: 5px;
  background: rgb(243, 80, 205);
  color: #ff1cae;
  font-size: 20px;
  outline: none;
  /*点击后没边框*/
  height: 34px;
}

/* 应用介绍 */

.jieshao-p {
  color: white;
}

.jieshao-h2 {
  color: white;
  margin-left: 8px;
}

.jieshao-div .jieshao_1 {
  color: limegreen;
  margin: 1vw 0;
}

/* 轮播图 */
.a_cent .img-list {
  white-space: nowrap;
  height: 60vw;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 6vw 0 3vw 0;
}

.a_cent .full {
  height: 60vw;
  margin-right: 1.6vw;
  border-radius: 1.111vw;
}

.a_cent .full:first-child {
  margin-left: 3vw;
}

.a_cent .full:last-child {
  margin-right: 3vw;
}

body {
  background: black;
}

/* default 默认图片 */
.default-img {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -180px;
  border-radius: 100%;
}

/* default边框 */
.default-border {
  text-align: center;
  background: black;
}

/* default文字 */
.default-text1 {
  color: limegreen;
  font-size: 20px;
  margin-left: -70px;
}

/* default2文字 */
.default-text1-1 {
  color: green;
  font-size: 12px;
  margin-left: -70px;
  margin-top: -10px;
}

/* tex1t图片 */
.menu-text1-img {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -180px;
  border-radius: 100%;
}

/* tex1边框 */
.menu1-text1-border {
  text-align: center;
}

/* text1文字 */
.menu1-text1 {
  color: limegreen;
  font-size: 20px;
  margin-left: -90px;
}

/* text1-1文字 */
.menu1-text1-1 {
  color: limegreen;
  font-size: 12px;
  margin-left: -70px;
  margin-top: -10px;
}

/* 按钮一a标签 */
.text1-a {
  position: absolute;
  margin-left: 60px;
  margin-top: -10px;
}

.btn1 {
  width: 120px;
  line-height: 35px;
  border-radius: 100px;
  background: #1e90ff;
  position: absolute;
  margin-top: -50px;
  text-align: center;
  margin-left: 60px;
  border-color: black;
  outline: none;
  /*点击后没边框*/
}

/* 按钮一触停效果 */
.btn1:hover {
  background: limegreen;
}

/* 按钮一点击效果 */
.btn1-text:active {
  background: limegreen;
  font-size: 20px;
}

.btn1-text {
  font-size: 17px;
  color: white;
  text-align: center;
  line-height: 10px;
}

.btn-video-border {
  text-align: center;
}

.btn-video {
  position: absolute;
  margin-left: -90px;
  margin-top: 5px;
  border-color: black;
  width: 180px;
  line-height: 40px;
  font-size: 17px;
  color: #ffffff;
  border-radius: 100px;
  background: #ff1cae;
  text-align: center;
  outline: none;
  /*点击后没边框*/
}

/* 按钮一触停效果 */
.btn-video:hover {
  background: #1e90ff;
}

/* 按钮一点击效果 */
.btn-video-text:active {
  background: #1e90ff;
  font-size: 20px;
}

.btn-video-text {
  font-size: 17px;
  color: white;
  text-align: center;
  line-height: 10px;
}

/* text2图片 */
.menu-text2-img {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 10px;
  margin-left: -180px;
  border-radius: 100%;
}

/* tex2边框 */
.menu1-text2-border2 {
  text-align: center;
}

/* text2文字 */
.menu1-text2 {
  color: limegreen;
  font-size: 20px;
  margin-left: -70px;
  padding-top: 10px;
}

/* text2-1文字 */
.menu1-text2-1 {
  color: green;
  font-size: 12px;
  margin-left: -70px;
  margin-top: -10px;
}

.miaoshu {
  margin-top: 20px;
  width: 100%;
}

.miaoshu-text {
  color: limegreen;
  font-size: 15px;
  text-align: center;
}

.bottom-border {
  text-align: center;
}

.bottom1 {
  width: 140px;
  height: 40px;
  text-align: center;
  background: #ff770f;
  position: absolute;
  margin-left: -180px;
  margin-top: -30px;
  border-color: black;
  outline: none;
  /*点击后没边框*/
}

/* 按钮一触停效果 */
.bottom1:hover {
  background: #1e90ff;
}

/* 按钮一点击效果 */
.bottom1-text:active {
  background: #1e90ff;
  font-size: 20px;
}

.bottom1-text {
  font-size: 17px;
  color: black;
  text-align: center;
  line-height: 10px;
}

.bottom2 {
  width: 140px;
  height: 40px;
  text-align: center;
  background: #ff770f;
  position: absolute;
  margin-left: 39px;
  margin-top: -30px;
  border-color: black;
  outline: none;
  /*点击后没边框*/
}

/* 按钮一触停效果 */
.bottom2:hover {
  background: #1e90ff;
}

/* 按钮一点击效果 */
.bottom2-text:active {
  background: #1e90ff;
  font-size: 20px;
}

.bottom2-text {
  font-size: 17px;
  color: black;
  text-align: center;
  line-height: 10px;
}
