body {
  border-style: none;
  text-decoration: none;
  user-select: none;
  outline: none;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.9);
  /* background-image: url(../../../img/app/symhzs/bg.jpeg); */
  background-size:cover;
  background-attachment:fixed;
    color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: white;
}
.main {
  text-align: center;
  align-items: center;
  width: 100%;
}
.nav_1_img {
  width: 86%;
  border-radius: 18px;
}
.nav_1_img:active {
  width: 80%;
  border-radius: 18px;
}
.nav_2_img {
  width: 80%;
  border-radius: 18px;
}
.nav_2_img:active {
  width: 74%;
  border-radius: 18px;
}

.nav_main_1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav_main_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.nav_main_3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav_1 {
  width: 33%;
  text-align: center;
  margin-top: 3%;
}
.nav_2 {
  width: 25%;
  text-align: center;
  margin-top: 3%;
}
.nav_1_text {
  font-size: 17px;
}
.nav_1_text:active {
  font-size: 16px;
}
.nav_2_text {
  font-size: 15px;
}
.nav_2_text:active {
  font-size: 16px;
}
.nav_title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.nav_3_img {
  width: 75px;
  height: 75px;
  border-radius: 18px;
}
.nav_3_img:active {
  width: 69px;
  height: 69px;
  border-radius: 18px;
}

.nav_main_3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav_3 {
  width: 25%;
  text-align: center;
  margin-top: 3%;
}
.nav_3_text {
  font-size: 15px;
}
